<div align="end">
    <button mat-icon-button class="close-button" [mat-dialog-close]="true">
      <mat-icon class="close-icon" color="warn">close</mat-icon>
    </button>
  </div>

<div class="container">
    <div style="text-align: center;">
        <h1>What is BMI ?</h1>
    </div>

    <div>
        <p>
            Body mass index (BMI) is a person’s weight in kilograms divided by the square of height in meters.
        </p>
        <ul>
            <li>
                Overweight is a BMI of 27.3 or more for women and 27.8 or more for men.
            </li>
            <li>
                Obesity is a BMI of 30 or more for either sex (about 30 pounds overweight).
            </li>
            <li>
                A very muscular person might have a high BMI without health risks.
            </li>
        </ul>
    </div>
</div>
